.App {
  text-align: center;
}

.App-header {
  background-color: #252525;
  font-size: calc(10px + 2vmin);
  padding: 1% 0% 1% 0%;
  color: rgb(206, 206, 206);
}

.Opaque-background {
  border-radius: 25px;
  display: block;
  float: left;
  background: rgba(50, 50, 50, 0.7);
  padding: 3% 10% 3% 10%;
}

.App-div {
  background-image: url(/src/img/computer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #161616;
  max-width: 100%;
  max-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(206, 206, 206);
}

.App-link {
  color: dodgerblue;
}

#App-footer {
  text-align: left;
  background-color: #252525;
  color: rgb(206, 206, 206);
  padding: 0.5% 0.5% 0.5% 0.5%;
}
